<nav class="nav-wrapper">
    <div class="nav-container">
        <div class="nav-left-link">
            <a href="#">
                <h1>Recipe Book</h1>
            </a>
            <a href="#" (click)="openRecipe()">Recipe</a>
            <a href="#" (click)="openShopping()">Shopping List</a>
        </div>

        <div class="nav-right">
            <span class="header-dropdown-container" (click)="openDropdown()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="ham-icon">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <div class="side-dropdown" [ngStyle]="{'display':dropDownStatus === false ? 'none' : 'flex'}">
                    <a href="">Save data</a>
                    <a href="">Fetch data</a>
                </div>
            </span>
        </div>
    </div>
</nav>