.ham-icon{
    width: 30px;
    cursor: pointer;
    color: #fff;
}

.nav-wrapper{
    padding: 1rem 2rem;
    border-bottom: 3px solid #064b6b;
    background-color: #065f89;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left-link{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-left-link a{
    text-decoration: none;
    color: #fff;
}

.side-dropdown{
    background-color: white;
    width: 9rem;
    position: absolute;
    right: 0;
    padding: 1rem;
    border: 1px solid rgb(240, 233, 233);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.header-dropdown-container{
    position: relative;
}

.side-dropdown a{
    text-decoration: none;
    color: black;
    margin-bottom: .2rem;
}

.side-dropdown a:hover{
    color: #065f89;
    scale: 1.02;
}

