<nav class="nav-wrapper">
    <div class="nav-container">
        <div class="nav-left-link">
            <a href="#">
                <img class="logo" src="assets\logo.png" alt="">
            </a>
            <a *ngIf="isAuthenticated" routerLinkActive="active" routerLink="/recipes">Recipe</a>
            <a routerLinkActive="active" routerLink="/shopping-list">Shopping List</a>
            <a *ngIf="!isAuthenticated" routerLinkActive="active" routerLink="/login">Login</a>
        </div>

        <div class="nav-right">
            <a (click)="onLogout()" *ngIf="isAuthenticated">Logout</a>
            <span *ngIf="isAuthenticated" class="header-dropdown-container" (click)="openDropdown()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="ham-icon">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <div class="side-dropdown" [ngStyle]="{'display':dropDownStatus === false ? 'none' : 'flex'}">
                    <a (click)="saveData()">Save data</a>
                    <a (click)="fetchData()">Fetch data</a>
                </div>
            </span>
        </div>
    </div>
</nav>