.recipe-create-wrap{
    padding: 1rem;
    background-color: #218daa;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-create-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.recipe-create-container h3{
    color: rgb(245, 239, 239);
}

input, textarea{
    padding: .5rem;
    border-radius: .5rem;
    border: 0;
}

.recipe-create-ingredient{
    display: flex;
    gap: .5rem;
}

.ingredient-buttons{
    display: flex;
    gap: .5rem;
}

.ingredient-buttons button{
    width: 100%;
    background-color: #c6dfe6;
    padding: .5rem;
    border-radius: .5rem;
    border: 0px;
    cursor: pointer;
}

.ingredient-buttons button:nth-child(1){
    background-color: rgba(43, 173, 43, 0.822)
}

.ingredient-buttons button:nth-child(1):disabled{
    background-color: rgba(117, 124, 117, 0.822);
}

.ingredient-buttons button:nth-child(2){
    background-color: lightblue; ;
}

.ingredient-buttons button:hover{
    scale: 1.02;
}

.create-button{
    background-color: #c6dfe6;
    padding: .5rem;
    border-radius: .5rem;
    border: 0px;
    cursor: pointer;
}

.create-button:hover{
    scale: 1.02;
}

p{
    background-color: red;
    padding: .5rem;
    color: white;
    margin-top: .5rem;
    border-radius: .5rem;
}

ul{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    background-color: white;
    border-radius: .5rem;
    padding: .5rem;
}

li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

svg{
    width: 20px;
    color: red;
    cursor: pointer;
}

svg:hover{
    scale: 1.1;
}

p{
    background-color: red;
    padding: .5rem;
    color: white;
    margin-top: .5rem;
    border-radius: .5rem;
}

.ingredient-input{
    display: flex;
    gap: .5rem;
}

h2{
    color: white;
    margin-bottom: .5rem;
}

.recipe-create-ingredient{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: .5rem;
}

.cancel-button{
    background-color: rgb(245, 67, 67);
    padding: .5rem;
    border-radius: .5rem;
    border: 0px;
    cursor: pointer;
}

.cancel-button:hover{
    scale: 1.02;
}