<div class="recipe-create-wrap">
    <div >
        <h2>Edit Recipe</h2>
        <form class="recipe-create-container" (ngSubmit)="onSaveEdit(f)" #f="ngForm">
            <label for="recipeName">Recipe Name</label>
            <input
            [ngModel]="defaultRecipeName"
            placeholder="Recipe Name.." 
            type="text" 
            ngModel 
            required 
            name="recipeName" 
            #recipename="ngModel">
            <p *ngIf="!recipename.valid && recipename.touched">Recipe name required!</p>
            <label for="description">Description</label>
            <textarea 
            [ngModel]="defaultRecipeDescription"
            placeholder="Describe your recipe.." 
            name="" 
            cols="30" 
            rows="5" 
            ngModel 
            name="description"
            #recipedescription="ngModel">
            </textarea>
            <label for="img">Path image</label>
            <input 
            [ngModel]="defaultRecipeUrl"
            type="url" 
            ngModel 
            name="url" 
            #url="ngModel" 
            >
            <label>Ingredients</label>
                <form class="recipe-create-ingredient" (ngSubmit)="onAddIngredient(i)" #i="ngForm">
                    <div class="ingredient-input">
                        <input 
                        type="text" 
                        placeholder="Name"
                        ngModel
                        name="ingredient"
                        #ingredient="ngModel"
                        required>                  
                        <input 
                        type="number" 
                        placeholder="Amount"
                        ngModel
                        name="amount"
                        #amount="ngModel"
                        required>
                    </div>
                    <p *ngIf=" (!ingredient.valid && ingredient.touched) ||(!amount.valid && amount.touched)">Fill all ingredients input!</p>
                    <div class="ingredient-buttons">
                        <button [disabled]="!i.valid" type="submit">Add</button>
                        <button type="button">Clear</button>
                    </div>
                </form>
                <ul>
                    <li *ngFor="let ingredient of ingredients, let i = index">{{ingredient.name}} - {{ingredient.amount}} <svg (click)="onDeleteIngredient(i)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                      </svg>
                      </li>
                </ul>
            <button [disabled]="!f.valid" class="create-button">Save</button>
        </form>
    </div>
</div>

