<div class="login-wrap">
    <div *ngIf="isLoading" class="lds-ring"><div></div><div></div><div></div><div></div></div>
    <div *ngIf="!isLoading" class="login-container">
        <h2>{{isLoginMode ? "Login" : "Register"}}</h2>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="email-container">
                <label for="email">E-mail</label>
                <input 
                placeholder="E-mail" 
                type="email" 
                id="email"
                email
                name="email"
                #email="ngModel"
                required
                ngModel>
            </div>
            <div class="password-container">
                <label for="password">Password</label>
                <input 
                placeholder="Password" 
                type="password" 
                id="password"
                ngModel
                #password="ngModel"
                name="password"
                required>  
            </div>
            <button [disabled]="!f.valid" type="submit">{{isLoginMode ? "Login" : "Register"}}</button>
        </form>
        <p>{{isLoginMode ? "Non sei registrato?" : "Sei già registrato?"}}<span (click)="switchMode()"> clicca qui!</span></p>
    </div>
</div>
<app-alert [message]="error" (close)="onClose()" *ngIf="error"/>
<!-- <p class="error" *ngIf="error">{{error}}</p> -->
