.recipes-container img{
    width: 80px;
    height: 60px;
}

.recipes-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    margin-bottom: .5rem;
    
    cursor: pointer;
    transition: 100ms;
}

.recipes-container:hover{
    scale: 1.02;
    background-color: #c6dfe6;
}

.new-recipe-button{
    background-color: #c6dfe6;
    padding: .5rem;
    border-radius: .5rem;
    border: 0px;
    margin-bottom: 1rem;
}

.new-recipe-button:hover{
    scale: 1.02;
    cursor: pointer;
}


.recipe-list-container{
    padding: 1rem;
    background-color: #218daa;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


