.shopping-edit-wrap{
    padding: 2rem 0;
}

.shopping-edit-container{
    padding: 1rem;
    background-color: #218daa;
    border-radius: 1rem;
    width: fit-content;
}

.shopping-edit-button{
    display: flex;
    gap: .5rem;
    margin-top: 1rem;
}

.shopping-edit-button button{
    background-color: #c6dfe6dc;
    padding: .5rem;
    border-radius: .5rem;
    border: 0px;
    cursor: pointer;
    width: 100%;
}

.shopping-edit-button button:nth-child(1){
    background-color: rgba(43, 173, 43, 0.822);
}

.shopping-edit-button button:nth-child(1):disabled{
    background-color: rgba(117, 124, 117, 0.822);
}

.shopping-edit-button button:nth-child(2){
    background-color: lightblue;
}

.shopping-edit-button button:hover{
    scale: 1.02
}

.shopping-edit-form{
    display: flex;
    gap: 1rem;
}

input{
    padding: .5rem;
    border-radius: .5rem;
    border: 0;
}

p{
    background-color: red;
    padding: .5rem;
    color: white;
    margin-top: .5rem;
    border-radius: .5rem;
}

input.ng-invalid.ng-touched{
    border: 2px solid red !important;
}

.input-container{
    display: flex;
    gap: 1rem;
}

.input-container div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.input-container div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

label{
    color: white;
}



