<div class="shopping-edit-wrap">
    <div class="shopping-edit-container">
        <div class="shopping-edit-form">
            <form (ngSubmit)="addIngredient(f)" #f="ngForm">
                <div class="input-container">
                    <div>
                        <label for="Ingredient">Ingredient</label>
                        <input 
                        type="text" 
                        ngModel 
                        required 
                        name="ingredient" 
                        #ingredient="ngModel"
                        placeholder="Ingredient" />
                    </div>
                    <div>
                        <label for="amount">Amount</label>
                        <input 
                        type="number" 
                        ngModel 
                        required 
                        name="amount" 
                        #amount="ngModel"
                        placeholder="Amount" 
                        pattern="^[1-9]+[0-9]*$"/>
                    </div>
                </div>
                <p *ngIf=" (!ingredient.valid && ingredient.touched) ||(!amount.valid && amount.touched)">
                    Inserire tutti i dati!
                </p>
                <div class="shopping-edit-button">
                    <button [disabled]="!f.valid" type="submit">Add</button>
                    <button type="button" (click)="clearIngredient()">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>