.option-icon svg{
    width: 25px;
    cursor: pointer;
}

.recipe-header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 1rem;  
}

.recipe-detail-container{
    width: auto;
    padding: 1rem;
    border: 1px solid rgb(225, 215, 215);
    border-radius: 1rem;
}

li{
    list-style: none;
}
