<div class="recipe-create-wrap">
    <div >
        <h2>Create new Recipe</h2>
        <form class="recipe-create-container" (ngSubmit)="onAddRecipe(f)" #f="ngForm">
            <label for="recipeName">Recipe Name</label>
            <input 
            placeholder="Recipe Name.." 
            type="text" 
            ngModel 
            required 
            name="recipeName" 
            #recipename="ngModel">
            <p *ngIf="!recipename.valid && recipename.touched">Recipe name required!</p>
            <label for="description">Description</label>
            <textarea 
            placeholder="Describe your recipe.." 
            name="" 
            cols="30" 
            rows="5" 
            ngModel 
            name="description"
            #recipedescription="ngModel">
            </textarea>
            <label for="img">Path image</label>
            <input 
            type="url" 
            ngModel 
            name="url" 
            #url="ngModel" 
            [ngModel]="defaultImage">
            <label>Ingredients</label>
                <form class="recipe-create-ingredient" (ngSubmit)="onAddIngredient(i)" #i="ngForm">
                    <div class="ingredient-input">
                        <input 
                        type="text" 
                        placeholder="Name"
                        ngModel
                        name="ingredient"
                        #ingredient="ngModel"
                        required>                  
                        <input 
                        type="number" 
                        placeholder="Amount"
                        ngModel
                        name="amount"
                        #amount="ngModel"
                        required>
                    </div>
                    <p *ngIf=" (!ingredient.valid && ingredient.touched) ||(!amount.valid && amount.touched)">Fill all ingredients input!</p>
                    <div class="ingredient-buttons">
                        <button [disabled]="!i.valid" type="submit">Add</button>
                        <button type="button" (click)="onClearIngredients()">Clear</button>
                    </div>
                </form>
            <button [disabled]="!f.valid" class="create-button">Create Recipe</button>
        </form>
    </div>
</div>
